{#
/**
 * @file development.html.twig
 * Default theme implementation to present Development data.
 *
 * This template is used when viewing Development pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_development()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('development') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
